/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

ul {
  list-style-type: none;
  display: flex;
}

ul li {
  margin-right: 10px;
}

ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px;
}

.hero {
  text-align: center;
  margin-top: 50px;
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.cta-button {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

.carousel-image {
  max-width: 100%;
  height: auto;
}

.carousel-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.carousel-item.active {
  display: flex;
}

.car-model {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

.carousel-control-prev,
.carousel-control-next {
  width: auto;
  margin: 0 15px;
  color: #333;
  font-size: 30px;
}

.carousel-indicators {
  bottom: -30px;
}

.carousel-indicators li {
  background-color: #333;
  border: none;
}

.carousel-indicators .active {
  background-color: #888;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* Estilos específicos para el carrito */
.cart-icon {
  position: relative;
}

.cart-items {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: red;
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
