/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Estilos para el encabezado */
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  order: 1; /* Cambia el orden del logo */
}

nav {
  order: 1; /* Cambia el orden del menú */
}

/* Estilos para la sección de inicio */
.hero {
  text-align: right;
  margin-top: 50px;
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.cta-button {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

/* Estilos para el carrusel */
.carousel-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente el carrusel */
  margin-top: 20px;
}

.carousel-image {
  max-width: 100%;
  height: auto;
}

.carousel-item .carousel-image {
  max-width: 80%; /* Tamaño reducido para las imágenes del carrusel */
}

.car-model {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

.carousel-control-prev,
.carousel-control-next {
  color: #333;
  font-size: 30px;
}

.carousel-indicators {
  bottom: -30px;
}

.carousel-indicators li {
  background-color: #333;
  border: none;
}

.carousel-indicators .active {
  background-color: #888;
}

/* Estilos para el carrito */
.cart-icon {
  position: relative;
}

.cart-items {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: red;
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilos específicos para los botones en las páginas */
/* Catálogo, Financiamiento, Contacto y Carrito */
.btn.btn-round {
  border-radius: 20px;
}

.catalog-button {
  background-color: blue;
  color: white;
}

.financing-button {
  background-color: green;
  color: white;
}

.contact-button {
  background-color: orange;
  color: white;
}

.cart-button {
  background-color: red;
  color: white;
}

/* Estilos para el pie de página */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}
